* {
  box-sizing: border-box;
}

.Square-div {
  width: 50px;
  height: 50px;
  background-color: black;
  margin: 1px;
}

.RowOfSquares-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.snake {
  background-color: green;
}

.food {
  background-color: red;
}