@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

* {
  box-sizing: border-box;
  background-color: rgb(135, 131, 209);
  font-family: 'Fredoka One', cursive;
}

.App{
  display: flex;
  flex-direction: column;
}

.modal{
  position: fixed;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: green;
  border-style: dashed;
  border-color: lightgreen;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
}

button {
  border-radius: 15px;  
}

.game-over-label{
  background-color: green;
}

.game-over-button{
  background-color: lightgreen;
}

.instructions p{
  border-radius: 15px;
  padding: 5px;
  margin: 0px;
}

.button-container{
  display: flex;
  justify-content: center;
}

.instructions-button{
  width: fit-content;
  margin: 20px;
  font-size: 16px;
  padding: 10px;
}

.hidden{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.visible{
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.Square-div {
  width: 50px;
  height: 50px;
  background-color: rgb(141, 166, 162);
  border-style: solid;
  border-color: rgb(135, 131, 209);
  border-width: 1px;
  border-radius: 15px;
  cursor: none;
}

.RowOfSquares-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.snake-green {
  background-color: green;
}
.snake-lightgreen {
  background-color: lightgreen;
}

.food {
  background-color: red;
}

.score-div{
  display: flex;
  justify-content: center;
}

.score-div h1 {
  margin: 10px;
}