* {
  box-sizing: border-box;
}

.Square-div {
  width: 50px;
  height: 50px;
  background-color: black;
  margin: 1px;
}

.RowOfSquares-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.snake-green {
  background-color: green;
}
.snake-lightgreen {
  background-color: lightgreen;
}

.food {
  background-color: red;
}

.score-div{
  display: flex;
  justify-content: center;
}